.card {
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.card img {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    object-fit: contain;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 5px;
}

.card-turned img {
    opacity: 1;
}

.card-hide {
    animation: 1s hide-card-anim forwards;
}

@keyframes hide-card-anim {
    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(0) rotate(360deg);
    }
}